---
extends: standard

globals:
  AypexStorefront: true
  Aypex: true
  analytics: true
  DOMPurify: true
  flatpickr: true
  Sortable: true
  ga: true
  _: true
  Select2: true
  Handlebars: true
  Raphael: true
  AypexAPI: true
  AypexPaths: true
  CouponManager: true
  ThumbnailsCarousel: true
  Turbo: true
  ADDRESS_FIELDS: true
  AUTH_TOKEN: true
  AYPEX_LOCALE: true
  AYPEX_CURRENCY: true
  AYPEX_DEFAULT_CURRENCY: true
  AYPEX_DEFAULT_LOCALE: true
  OAUTH_TOKEN: true
  updateAddressState: true
  formatSelect2Options: true

env:
  browser: true
  jquery: true

rules:
  space-before-function-paren: off
  semi: off
