<% case type %>
<% when "not-available-in-currency" %>
  <span id="availabilityValue" class="text-danger"><%= I18n.t('aypex.storefront.product_not_available_in_this_currency') %></span>
<% when "in-stock" %>
  <span id="availabilityValue"><%= I18n.t('aypex.storefront.in_stock') %></span>
<% when "backorderable" %>
  <span id="availabilityValue" class="text-warning"><%= I18n.t('aypex.storefront.backordered_info') %></span>
<% when "out-of-stock" %>
  <span id="availabilityValue" class="text-danger"><%= I18n.t('aypex.storefront.out_of_stock') %></span>
<% end %>
