<%= link_to aypex.cart_path, class: "btn btn-sm", aria_label: Aypex.t(:cart) do %>
  <div class="position-relative">
    <%= aypex_frontend_svg_tag('cart.svg', width: size, height: size) %>
    <span id="cartItemCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" data-turbo-permanent>
      <% if current_order %>
        <%= current_order.item_count %>
      <% else %>
        0
      <% end %>
    </span>
  </div>
<% end %>
