<div class="border-top footer-aypex-copyright">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center py-3 footer-aypex-copyright-content">
      <div>
        Designed and developed by <%= link_to 'Aypex.io Commerce', 'https://aypex.io/', target: :_blank, 'aria-label': 'Go to Aypex.io', rel: :follow %> | © <%= Time.current.year %> <%= link_to current_store.name, current_store.formatted_url %>. <%= I18n.t('aypex.storefront.all_rights_reserved') %>.
      </div>
    </div>
  </div>
</div>
