<div id="nav-bar" class="d-flex ms-auto ms-lg-0 align-items-center justify-content-center">
  <div>
    <a class="btn btn-sm">
      <%= aypex_frontend_svg_tag('search.svg', class: 'd-inline', width: 27, height: 27) %>
    </a>
    <%= render 'aypex/shared/cart', class: 'd-inline-block cart-icon', size: 27 %>
    <%= render partial: 'aypex/shared/internationalization_options' %>
  </div>
</div>
