<%= form_tag aypex.products_path, method: :get, class: "d-flex align-items-center" do %>
  <%= search_field_tag :keywords,
                       params[:keywords],
                       placeholder: Aypex.t(:search),
                       title: Aypex.t(:search),
                       autofocus: true,
                       autocomplete: false,
                       'aria-label': Aypex.t(:search),
                       class: " border-0 p-3" %>

  <button type="submit" class="btn border-0 p-0" aria-label="Submit">
    <%= aypex_frontend_svg_tag('search.svg', class: 'd-inline', width: 27, height: 27) %>
  </button>
<% end %>
