<% if section.has_gutters %>
  <% section_padding = 'px-3' %>
<% else %>
  <% section_padding = 'px-0' %>
<% end %>

<div class="col-12 <%= section_padding %>">
  <div class="text-center">
    <% section.cms_components.each do |component| %>
      <%= component.body %>
    <% end %>
  </div>
</div>
