<p class="font-weight-bold text-center homepage-carousel-text text-uppercase">
  <%= @category.name %>
</p>

<%= render 'aypex/shared/carousel_4_products', id: @category.permalink, products: @products %>
