<% if product_available_in_currency? %>
  <% if should_display_compare_at_price?(@variant) %>
    <span class="compare-at-price mr-3"><%= display_compare_at_price(@variant) %></span>
  <% end %>
  <span class="price selling" content="<%= @product_price.to_d %>">
    <%= display_price(@variant) %>
  </span>
  <span content="<%= current_currency %>"></span>
<% end %>
