<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'aypex/shared/head' %>
  </head>

  <body class="border" style="padding: 0; margin: 0; background: transparent; height:auto;">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
