$enable-grid-classes: true;
$enable-cssgrid: true;

a {
  text-decoration: none;
}

// Aspect Ratios
[style*="--aspect-ratio"] > img,
[style*="--aspect-ratio"] > picture,
[style*="--aspect-ratio"] > svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
}

.form-group {
  @extend .mb-3;
}
